@model PhoneBook.ViewModels.Phones.PhonesListVM
@using PagedList.Mvc

@{
    ViewBag.Title = "List";
}

<h2>@ViewBag.Title</h2>
<h4>@Model.Contact.FirstName @Model.Contact.LastName</h4>

<p>
    @(Html.ActionLink<PhonesController>("Create New", p=>p.Edit(), new { ContactID = Model.ContactID }))
</p>

@if (Model.Phones.Count==0)
{
    <div class="alert alert-info">No Phones Found</div>
}
else
{
    <table class="table">
        <tr>
            <th>Contact Name</th>
            <th></th>
        </tr>

        @foreach (var item in Model.PagedPhons)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneType)
                </td>
                <td>
                    @(Html.ActionLink<PhonesController>("Edit", p=>p.Edit(), new { id = item.ID })) |
                    @(Html.ActionLink<PhonesController>("Delete", p=>p.Delete(item.ID), new { id = item.ID }))
                </td>
            </tr>
        }

    </table>
    <div>
        @(Html.ActionLink<ContactsController>("Back to List", c=>c.List()))
    </div>
    <br/>
}